.pb{
    font-weight: 700;
}
input{
    width: 35px;
}

.but2{
    position: relative;
    display: block;
    margin:1em;
    padding: 0,5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}